{% extends 'base.html' %}
{% load static %}

{% block title %}
    School Management | Student Edit | {{ stu.student_name }}
{% endblock title %}

{% block content %}
<div class="content">
    <div class="card">
        <p class="card-title font-size-24">Edit details for Student <a href="{% url 'students:student-detail' uid=stu.uid %}" class="text-primary">{{ stu.student_name }}</a></p>
        <hr class="dropdown-divider mb-10" />

        <div class="alert alert-danger">
            <h4 class="alert-heading">ALERT!!!</h4>
            Not Working right now!!!
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.extra_tags }} mb-10 animated fast shake" role="alert">
                    <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <h4 class="alert-heading">Excuse me!</h4>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="." method="POST">
            {% csrf_token %}
            <div class="row">

                <div class="card bg-very-dark-dm bg-light-lm col-lg-5 col-11">
                    <p class="card-title text-secondary-dm">Student-related Details</p>
                    <div class="form-group form-inline">
                        <label for="student_name" class="required">Student's Name: </label>
                        <input class="form-control" type="text" name="student_name" id="student_name" value="{{ stu.student_name }}" maxlength="30" required>
                    </div>
                    <div class="form-group form-inline">
                        <label for="fathers_name" class="required">Father's Name: </label>
                        <input class="form-control" type="text" name="fathers_name" id="fathers_name" value="{{ stu.fathers_name }}" maxlength="30" required>
                    </div>
                    <div class="form-group form-inline">
                        <label for="mothers_name" class="required">Mother's Name: </label>
                        <input class="form-control" type="text" name="mothers_name" id="mothers_name" value="{{ stu.mothers_name }}" maxlength="30" required>
                    </div>
                    <div class="form-group form-inline">
                        <label for="dob" class="required">Date of Birth: </label>
                        <input class="form-control" type="date" name="dob" id="dob" value="{{ stu.dob|date:'Y-m-d' }}" required>
                    </div>

                    <div class="form-group form-inline">
                        <label for="gender" class="required">Gender: </label>
                        <select class="form-control" name="gender" id="gender" required>
                            <!-- <option id="gender_boy" value="Boy">Boy</option>
                            <option id="gender_girl" value="Girl">Girl</option> -->
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label for="aadhar_number">Aadhar Number: </label>
                        <input class="form-control" type="tel" name="aadhar_number" id="aadhar_number" value="{{ stu.aadhar_number|default:'' }}" maxlength="12" pattern="[0-9]{12}">
                    </div>
                    <div class="form-group form-inline">
                        <label for="phone_number" class="required">Phone Number: </label>
                        <input class="form-control" type="tel" name="phone_number" id="phone_number" value="{{ stu.phone_number }}" maxlength="10" pattern="[0-9]{10}" required>
                    </div>
                </div>

                <div class="card bg-very-dark-dm bg-light-lm col-lg-5 col-11">
                    <p class="card-title text-secondary-dm">School-related Details</p>

                    <div class="form-group form-inline">
                        <label for="school_code" class="required">School Code: </label>
                        <input class="form-control" type="number" name="school_code" id="school_code" value="{{ stu.school_code }}" required>
                    </div>
                    <!-- Guess UID isn't changable :? -->
                    <!-- <div class="form-group form-inline">
                        <label for="uid" class="required">UID: </label>
                        <input class="form-control" type="number" name="uid" id="uid" value="{{ stu.uid }}" maxlength="16" required>
                    </div> -->
                    <div class="form-group form-inline">
                        <label for="admission_category" class="required">Admision Category: </label>
                        <!-- <input class="form-control" type="text" name="admission_category" id="admission_category" value="{{ stu.admission_category }}"> -->
                        <select class="form-control" name="admission_category" id="admission_category" required>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label for="social_category" class="required">Social Category: </label>
                        <!-- <input class="form-control" type="text" name="social_category" id="social_category" value="{{ stu.social_category }}"> -->
                        <select class="form-control" name="social_category" id="social_category" required>
                        </select>
                    </div>

                    <div class="form-group form-inline">
                        <label for="doa" class="required">Date of Admission: </label>
                        <input class="form-control" type="date" name="doa" id="doa" value="{{ stu.doa|date:'Y-m-d' }}" required>
                    </div>
                    <div class="form-group form-inline">
                        <label for="cls" class="required">Class: </label>
                        <select class="form-control" name="cls" id="cls" required>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label for="section" class="required">Section: </label>
                        <select class="form-control" name="section" id="section" required>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <label for="roll" class="required">Roll No.: </label>
                        <input class="form-control" type="text" name="roll" id="roll" value="{{ stu.roll }}" pattern="[0-9]+" required>
                    </div>
                </div>
            </div>
            <div class="btn-group-vertical d-flex">
                <button type="submit" class="btn btn-success btn-lg btn-block text-monospace disabled" disabled>Update Details !</button>
                <button type="reset" class="btn btn-danger align-self-end w-150 mt-20">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/python" type="module" id="student_edit_options">

    # defining all the variables needed by the python script to
    # generate and pre-populate the option fields
    genders = {{ genders|safe }}
    admission_categories = {{ admission_categories|safe }}
    social_categories = {{ social_categories|safe }}
    classes = {{ classes|safe }}

    gender = "{{ stu.gender }}"
    admission_category = "{{ stu.admission_category }}"
    social_category = "{{ stu.social_category }}"
    cls = "{{ stu.cls.cls }}"
    section = "{{ stu.cls.section }}"
</script>

<script type="text/python" src="{% static 'py/student_edit_page.py' %}" >

</script>
{% endblock scripts %}