{% extends 'base.html' %}

{% block title %}
    School Management | Debug
{% endblock title %}

{% block content %}
<div class="content">
    <div class="card">
        <p class="card-title">Debug options for the quick development</p>
        <hr class="sidebar-divider" />

        <div class="btn-group mt-20">
            <a class="btn btn-primary" href="{% url 'core:debug-subjects-create' %}">Create All the Subjects!</a>
            <a class="btn btn-secondary" href="{% url 'core:debug-classes-create' %}">Create All the Classes!</a>
        </div>
        <div class="btn-group mt-20">
            <a class="btn btn-danger" href="{% url 'students:debug-students-delete' %}">Delete All the Students!</a>
        </div>
    </div>
</div>
{% endblock content %}