{% extends 'base.html' %}
{% load static %}

{% block title %}
    School Management | Students
{% endblock title %}

{% block content %}
<div class="content">
    <div class="card">

      <div class="d-flex justify-content-between">
        <p class="m-0 font-size-24">Teachers</p>
        <a href="{% url 'core:teacher-add' %}" class="btn btn-primary btn-rounded mt-auto mb-auto"><span class="ion ion-ios-plus-outline"></span>&nbsp;Add Teacher</a>
      </div>

      <!-- Filter Form (Collapsable!!! yoo hoooooo...) -->
      <details id="filter_collapse" class="collapse-panel card mx-0 pl-20 mb-10 bg-very-dark-dm bg-light-lm p-10">
        <summary class="collapse-header card-title border-0">
          Filters and Controls 
          {% if is_filter %}
            <span class="text-secondary-dm text-primary-lm text-monospace">[filter applied]</span>:
          {% endif %}
        </summary>
        <div class="collapse-content border-0">
          <form action="." method="get">
            <div class="form-group form-inline w-200">
              <label for="students_per_page">Students per page:</label>
              <select class="form-control" name="students_per_page" id="students_per_page">
                <option id="stu_per_page_10" value="10">10</option>
                <option id="stu_per_page_20" value="20">20</option>
                <option id="stu_per_page_50" value="50">50</option>
                <option id="stu_per_page_100" value="100">100</option>
                <option id="stu_per_page_200" value="200">200</option>
                <option id="stu_per_page_500" value="500">500</option>
              </select>
            </div>

            <div class="d-flex flex-column flex-lg-row justify-content-around">

              <div class="form-group form-inline">
                <label for="students_filter_name">Find/Filter by Student Name:</label>
                <input type="text" name="students_filter_name" id="students_filter_name" class="form-control w-350" value="{{ request.GET.students_filter_name }}">
              </div>

              <div class="form-group form-inline">
                <label for="students_filter_uid">Find/Filter by Student UID:</label>
                <input type="text" name="students_filter_uid" id="students_filter_uid" class="form-control w-250" pattern="[0-9]{7,8,9,10,11,12,13,14,15,16}" maxlength="16" value="{{ request.GET.students_filter_uid }}">
              </div>

            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-around">

              <div class="form-group form-inline">
                <label for="students_filter_phone">Find/Filter by Phone Number:</label>
                <input type="text" name="students_filter_phone" id="students_filter_phone" class="form-control w-200" pattern="[0-9]{5,6,7,8,9,10}" maxlength="10" value="{{ request.GET.students_filter_phone }}">
              </div>

              <div class="form-group form-inline">
                <label for="students_filter_aadhar">Find/Filter by Student Aadhar Number:</label>
                <input type="text" name="students_filter_aadhar" id="students_filter_aadhar" class="form-control w-250" pattern="[0-9]{12}" maxlength="12" value="{{ request.GET.students_filter_aadhar }}">
              </div>
            </div>

            <div class="d-flex flex-column flex-lg-row justify-content-around">

              <div class="form-group form-inline">
                <label for="students_filter_mother">Find/Filter by Mother's Name:</label>
                <input type="text" name="students_filter_mother" id="students_filter_mother" class="form-control w-200" value="{{ request.GET.students_filter_mother }}">
              </div>

              <div class="form-group form-inline">
                <label for="students_filter_father">Find/Filter by Father's Name:</label>
                <input type="text" name="students_filter_father" id="students_filter_father" class="form-control w-250" value="{{ request.GET.students_filter_father }}">
              </div>
            </div>
            
            {% if not request.user.is_class_teacher %}
            <div class="d-flex flex-lg-row justify-content-start">

              <div class="form-group form-inline w-200 mr-10">
                <label for="students_filter_cls">Filter by Class:</label>
                <select class="form-control" name="students_filter_cls" id="students_filter_cls">
                </select>
              </div>

              <div class="form-group form-inline w-200">
                <label for="students_filter_section">Filter by Section:</label>
                <select class="form-control" name="students_filter_section" id="students_filter_section">
                </select>
              </div>
            </div>
            {% endif %}

            <div class="form-group form-inline w-200">
              <label for="students_filter_gender">Filter by Gender:</label>
              <select class="form-control" name="students_filter_gender" id="students_filter_gender">
              </select>
            </div>

            <input type="hidden" name="is_filter" id="is_filter">

            <input type="submit" value="Find/Filter!" class="btn btn-success">
            <!-- TODO: Make the anchor tag also uninteractable if disabled... -->
            <button id="filter_form_reset" class="btn btn-danger disabled" disabled><a class="text-reset text-decoration-none" href="{% url 'core:teachers' %}">Clear all Filters</a></button>
          </form>
        </div>
        <div class="alert alert-secondary filled-lm">
          {% if is_filter %}
            <p class="m-0 font-size-16"><span class="text-primary font-weight-semi-bold">{{ num_all_students }}</span> Student{{ num_all_students|pluralize }} filtered !</p>
          {% else %}
            <p class="m-0 font-size-16"><span class="text-primary font-weight-semi-bold">{{ num_all_students }}</span> total Student{{ num_all_students|pluralize }} !</p>
          {% endif %}
        </div>
      </details>
      <!-- /Filter Form -->

      <div class="container table-responsive">
      {% if teachers %}
      <table class="table table-inner-bordered table-hover">
          <thead>
              <tr class="alert alert-success filled-lm">
                <th class="text-center">SN</th>
                <th class="text-center">Teacher's Name</th>
                <th class="text-center">Username</th>
                <th class="text-center">Salary</th>
                <th class="text-center">Subject</th>
                <th class="text-center">Class Teacher of</th>
                <th class="text-center bg-dark-dm bg-white-lm">Details / Edit</th>
              </tr>
          </thead>
          <tbody>
            {% for teacher in teachers %}
            <tr>
              <th>{{ forloop.counter }}</th>
              {% comment %}<!-- <th>{{ forloop.counter0|add:teachers.start_index }}</th> -->{% endcomment %}
              <th><a href="{% url 'core:teacher-detail' tid=teacher.pk %}" class="text-decoration-none text-reset" target="_blank" draggable="false">{{ teacher.teacher_name }}</a></th>
              <th>{{ teacher.user_name }}</th>
              <th>{{ teacher.salary }}</th>
              <th>{{ teacher.subject }}</th>
              <th>{{ teacher.teacher_of_class }}</th>
              <th>
                <a href="{% url 'core:teacher-detail' tid=teacher.pk %}" class="btn btn-sm btn-rounded btn-success"><span class="fa fa-book-open">&nbsp;&nbsp;</span>Details</a>
                <a href="{% url 'core:teacher-edit' tid=teacher.pk %}" class="btn btn-sm btn-rounded btn-secondary"><span class="fa fa-edit">&nbsp;&nbsp;</span>Edit</a>
              </th>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% else %}
        {% if is_filter %}
          <div></div>
          <p>The filters you set caused all teachers to disappear...</p>
        {% else %}
          <p>There is nothing here, yet...</p>
        {% endif %}
      {% endif %}
      </div>

      <!-- Pagination -->
      {% if teachers.has_other_pages %}
        <ul class="pagination mt-20 text-center">
          <!-- Previous page -->
          {% if teachers.has_previous %}
          <li class="page-item">
            <a href="?page={{ teachers.previous_page_number }}{{ pagination_get_parameters }}" class="page-link">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
            {% if teachers.number > 3 %}
            <li class="page-item">
              <a href="?page=1{{ pagination_get_parameters }}" class="page-link">
                1
                <span class="sr-only">1</span>
              </a>
            </li>
              {% if teachers.number > 4 %}
                <li class="page-item ellipsis"></li>
              {% endif %}
            {% endif %}
          {% else %}
            <li class="page-item disabled">
              <a href="#" class="page-link">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
          
          {% for i in teachers.paginator.page_range %}
            {% if teachers.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}{{ pagination_get_parameters }}">{{ i }}</a></li>
            {% elif i > teachers.number|add:'-3' and i < teachers.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}{{ pagination_get_parameters }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if teachers.has_next %}
            {% if teachers.number < teachers.paginator.num_pages|add:'-3' %}
              <li class="page-item ellipsis"></li>
              <li class="page-item">
                <a href="?page={{ teachers.paginator.num_pages }}{{ pagination_get_parameters }}" class="page-link">
                  {{ teachers.paginator.num_pages }}
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% if teachers.has_next %}
                <li class="page-item">
                  <a href="?page={{ teachers.next_page_number }}{{ pagination_get_parameters }}" class="page-link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% else %}
            <li class="page-item disabled">
              <a href="#" class="page-link">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
          <form action="." method="get" class="mt-10 d-flex justify-content-center">
            <div class="form-text">Go to Page number:&nbsp;</div>
            <div class="w-50">
              <input type="number" class="form-control text-center" name="page" id="page-number">
              
              <input type="hidden" value="{{ request.GET.students_per_page }}" name="students_per_page">
              <input type="hidden" value="{{ request.GET.students_filter_name }}" name="students_filter_name">
              <input type="hidden" value="{{ request.GET.students_filter_uid }}" name="students_filter_uid">
              <input type="hidden" value="{{ request.GET.students_filter_phone }}" name="students_filter_phone">
              <input type="hidden" value="{{ request.GET.students_filter_aadhar }}" name="students_filter_aadhar">
              <input type="hidden" value="{{ request.GET.students_filter_mother }}" name="students_filter_mother">
              <input type="hidden" value="{{ request.GET.students_filter_father }}" name="students_filter_father">
              <input type="hidden" value="{{ request.GET.students_filter_cls }}" name="students_filter_cls">
              <input type="hidden" value="{{ request.GET.students_filter_section }}" name="students_filter_section">
              <input type="hidden" value="{{ request.GET.students_filter_gender }}" name="students_filter_gender">
              <input type="hidden" value="{{ is_filter }}" name="is_filter">
            </div>
          </form>
        </ul>
      {% endif %}
      <!-- Pagination End -->
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% comment %}
<!-- <script type="text/python" type="module" id="students_filter_options">
  is_filter = {{ is_filter }}
  request_get = {{ request.GET.dict|safe }}

  classes = {{ classes|safe }}
  sections = {{ sections|safe }}
  genders = {{ genders|safe }}

  user_is_cls_teacher = {{ request.user.is_class_teacher }}
</script>
<script type="text/python" src="{% static 'py/students_filter.py' %}"></script> -->
{% endcomment %}
{% endblock scripts %}