{% extends 'base.html' %}

{% block title %}
    School Management | Exams
{% endblock title %}

{% block content %}
<div class="content">
    <div class="card">

        <div class="d-flex justify-content-between">
            <p class="m-0 font-size-24">Exams</p>
            <a href="{% url 'exams:exam-add' %}" class="btn btn-primary btn-rounded mt-auto mb-auto"><span class="ion ion-ios-plus-outline"></span>&nbsp;Create New Exam</a>
        </div>

        <hr class="sidebar-divider m-20" />

        {% if exams %}
        <table class="table table-hover table-inner-bordered table-responsive">
            <thead>
                <tr class="alert alert-primary filled-lm">
                    <th>SN</th>
                    <th>Exam Name</th>
                    <th>Session</th>
                    <th>Class</th>
                    <th class="text-center bg-dark-dm bg-white-lm">Details / Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <th><a href="{% url 'exams:exam-detail' exmid=exam.pk %}" class="text-decoration-none text-reset" target="_blank" draggable="false">{{ exam.display_exam_name }}</a></th>
                  <th>{{ exam.session }}</th>
                  <th>{{ exam.cls }}</th>
                  <th>
                    <a href="{% url 'exams:exam-detail' exmid=exam.id %}" class="btn btn-sm btn-rounded btn-success"><span class="fa fa-book-open">&nbsp;&nbsp;</span>Details</a>
                    <a href="{% url 'exams:exam-edit' exmid=exam.id %}" class="btn btn-sm btn-rounded btn-secondary"><span class="fa fa-edit">&nbsp;&nbsp;</span>Edit</a>
                  </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No exams added yet...</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

<!--
{% for exam in exams %}
    <div id="{{ foorloop.counter }}" class="card">
        <div class="card-content">
            <a href="/admin/exams/exam/{{ exam.id }}/" target="_blank" 
                class="text-primary font-size-24">{{ forloop.counter }}. {{ exam }}</a>
            <p>Exam Name: {{ exam.name }}</p>
            <p>Session: {{ exam.session }}</p>
            <p>Class: {{ exam.cls }}</p>
            
            <div class="sidebar-divider"></div>
            <!-Results Start->
            <p class="card-title">Results</p>
            {% if exam.result_set.get_queryset %}
                {% for result in exam.result_set.get_queryset %}
                    <div class="card">
                        <a href="/admin/students/students/{{ result.student.uid }}/" class="card-title">{{ forloop.counter }}. {{ result.student.full_name }}</a>
                        <p>Roll: {{ result.student.roll }}</p>

                        <div class="sidebar-divider"></div>
                        <!-Marks Start->
                        <p class="card-title">Marks</p>
                        {% if result.marks_set.get_queryset %}
                            {% for mark in result.marks_set.get_queryset %}
                                <div class="card">
                                    <h1 class="card-title">{{ mark.subject }}</h1>
                                    <p>Marks Obtained: {{ mark.marks_ob }}</p>
                                    <p>Out Of: {{ mark.marks_mx }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No Marks added yet...</p>
                        {% endif %}
                        <!-Marks End->
                    </div>
                {% endfor %}
            {% else %}
                <p>No Results added yet...</p>
            {% endif %}
            <!-Results End->
        </div>
    </div>
{% endfor %}
-->