<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/halfmoon/halfmoon-variables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons/ionicons.css' %}">
    {% block css %}
    
    {% endblock css %}

    <title>
    {% block title %}
        
    {% endblock title %}
    </title>

</head>
<body data-set-preferred-mode-onload="true"
      data-sidebar-shortcut-enabled="true"
      data-dm-shortcut-enabled="true"
      onload="brython()">
      
    <div class="page-wrapper with-navbar with-navbar-fixed-bottom with-sidebar with-custom-webkit-scrollbars">
    {% include 'navbar.html' %}
    {% include 'sidebar.html' %}

        <div class="sticky-alerts"></div>

        <div class="content-wrapper">
        {% block content %}

        {% endblock content %}
        </div>

        <nav class="navbar navbar-fixed-bottom">
            <div class="navbar-content">
            </div>
            <p class="navbar-text ml-auto mr-auto">
                Made with &nbsp;
                <span class="text-danger">❤</span>&nbsp;
                by &nbsp;
                <a href="https://github.com/HarshNarayanJha" target="_blank">Harsh Narayan Jha</a>
                &nbsp; and &nbsp;
                <a href="https://github.com/abhigureniya" target="_blank">Abhijeet Singh Gureniya</a>&nbsp;(my sir!)
            </p>
        </nav>
    </div>

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/halfmoon/halfmoon.min.js' %}"></script>
    
    <script src="{% static 'js/Brython-3.10.4/brython.js' %}"></script>
    
    <!-- Will include if needed, as it slows down page loading -->
    <!-- Brython provides a workaround for this loading issue, but providing a compiler
    which will scan your usages and generate a .js file with only those modules which are used by ya. -->

    <!-- <script src="{% static 'js/Brython-3.10.4/brython_stdlib.js' %}"></script> -->
    {% block scripts %}
    
    {% endblock scripts %}
</body>
</html>